#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DH_OPTIONS

DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_BUILD_ARCH)
confflags ?= $(shell dpkg-buildflags --export=configure)
export DEB_DIR=$(CURDIR)/debian/pidgin-hangouts
export DEB_DATA_DIR=$(DEB_DIR)/usr/share
PKG_CONFIG ?= pkg-config
PLUGIN_DIR = `$(PKG_CONFIG) --variable=plugindir purple`


%:
	dh $@

clean:
	$(MAKE) clean
	dh_testdir
	dh_testroot
	dh_clean

override_dh_auto_build:
	$(confflags) $(MAKE)

override_dh_auto_install:
	mkdir -p $(DEB_DIR)$(PLUGIN_DIR)
	$(MAKE) install \
		DESTDIR=$(DEB_DIR) \
		PIDGIN_PLUGIN_DIR=$(DEB_DIR) \
		PIDGIN_DATA_DIR=$(DEB_DATA_DIR)
	install -p hangouts16.png -D $(DEB_DIR)/usr/share/pixmaps/pidgin/protocols/16/hangouts.png
	install -p hangouts22.png -D $(DEB_DIR)/usr/share/pixmaps/pidgin/protocols/22/hangouts.png
	install -p hangouts48.png -D $(DEB_DIR)/usr/share/pixmaps/pidgin/protocols/48/hangouts.png
